! black
*color0: #333333
*color8: #555753

! red
*color1: #b41818
*color9: #FF5E5E

! green
*color2: #59b106
*color10: #8AE234

! yellow
*color3: #e08700
*color11: #FCE94F

! blue
*color4: #4f9eee
*color12: #739FCF

! magenta
*color5: #75507B
*color13: #AD7FA8

! cyan
*color6: #06989A
*color14: #34E2E2

! white
*color7: #D3D7CF
*color15: #cccccc